//- Styles
    Please convert the given css into scss with as few lines as possible

    .action-buttons,
    .reset-buttons {
        box-sizing: border-box;
        border-top: 1px rgba(0, 0, 0, 0.12) solid;
        padding: 16px 0;
        width: 100%;
    }
    .action-buttons:hover,
    .reset-buttons:hover {
        border: 2px rgba(0, 0, 0, 0.5) solid;
    }

    .action-buttons {
        color: #4285f4;
    }

    .reset-buttons {
        color: #cddc39;
    }

    doctype html
html
    head
        title Task 1
        link(rel='stylesheet', href='./task2.css', type='text/css' )
    body
        button(class='action-buttons') Action
        button(class='reset-buttons') Reset
